/*place a public-domain background image in the header of the Denver skyline*/
header {
  background-image: url("images/denver-skyline-silhouette.jpg");
  height: 200px;
}
/*set font styling for h1 tag*/
h1 {
  font-family: Tahoma, sans-serif;
  font-size: large;
  color: navy;
}
h2 {
  font-family: Tahoma, sans-serif;
  font-size: medium;
  color: goldenrod;
}
/*make a floating box for the navigation links that contrasts to the skyline background and stays on the left side*/
nav {
  border: 2px solid navy;
  padding: 10px;
  margin: 10px;
  font-family: Tahoma, sans-serif;
  font-size: medium;
  color: goldenrod;
  float: left;
}
/*set the background and font styling for the main tag*/
main {
  background-color: navy;
  color: goldenrod;
  font-family: Tahoma, sans-serif;
  font-weight: bold;
}
/*make my picture into an oval and give it a contrasting border*/
img {
  border: 5px solid goldenrod;
  border-radius: 50%;
}
a {
  background-color: white;
  font-family: Tahoma, sans-serif;
  font-size: large;
  font-weight: bold;
}
a:link {color: blue;}
a:visited {color: indianred;}
a:hover {color: goldenrod;}
a:active {color: navy;}
/*create a content box that floats to the left side of the screen*/
.box-listsLeft {
  background-color: navy;
  width: 50%;
  padding: 1em;
  border: 4px solid goldenrod;
  border-radius: 5px;
  float: left;
}
/*create a content box that floats to the right side of the screen*/
.box-listsRight {
  background-color: navy;
  width: 50%;
  padding: 1em;
  border: 4px solid goldenrod;
  border-radius: 5px;
  float: right;
}
.center-me {
  text-align:  center;
}
.circle-me {
  border-image-source: 180px;
}
/*this should be creating a box that my image is left-centered in with the text on the right or flowing around it but it isn't
rendering correctly. Look further into this code to keep picture properly positioned*/
.make-a-box {
 height: 416px;
 background-color: navy;
 font-family: Tahoma, sans-serif;
 font-weight: bold;
 color: goldenrod;
 padding: 20px;
 margin: 20px 0;
 border-radius: 6px;
 box-sizing: border-box;
  &__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
    &__text {
    display: inline-block;
    width: 46%;
    float: right;
    }
  }
footer {
  height: 100px;
  width: 500px;
  margin: 20px;
  box-sizing: border-box;
  float: right;
}